.amount
  width 300px
.symbol__equal
  font-weight 500
  font-size 18px
  margin-left 10px
.symbol__result
  margin-left: 10px;
  font-weight: 500;
.form__row_amount
  display flex
  align-items center
  margin-bottom 10px